{% extends "base.html" %}

{% block body %}


<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div
          class="card"
          id="list1"
          style="border-radius: 0.75rem; background-color: #eff1f2"
        >
          <div class="card-body py-4 px-4 px-md-5">
            <p class="h1 text-center mt-3 mb-4 pb-3 text-primary">
              <u>MY TODO</u>
            </p>

            <div class="pb-2">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-row align-items-center">
                    <form method="post" action="{%url 'todoapp:updatetask' task_obj.id %}">
                      {% csrf_token %}
                      <div >
                       <input type="hidden" name="project" value={{task_obj.project_id}}>
                      <label >title:</label>
                      <input type="text" class="form-control" placeholder="" name="title" aria-describedby="basic-addon1" value="{{task_obj.title}}"       required >
                      </div>

                      <div class="form-outline mb-4">
                        <label >status:</label>
                        <select class="form-select" name="status" value="{{task_obj.status}}" required>
                          <option value="new">new</option>
                          <option value="todo">todo</option>
                          <option value="completed">Completed</option>
                          <option value="archived">Archived</option>
                        </select>
                      </div>

                      <div class="form-outline mb-4">
                        <label for="">TodoText:</label>
                        <input type="text" id="text_todo" value="{{task_obj.text_todo}}" name="text_todo" required>
                      </div> 

                      <div class="form-outline mb-4">
                        <label for="">EndTime:</label>
                        <input type="date" id="end_date" name="end_date" value="{{task_obj.end_date | date:'Y-m-d'}}" required>
                      </div>


                      <div class="form-outline mb-4">
                        <label for="">Members:</label>
                        <select class="form-select" name='team_member' multiple required>
                        {%for elm in users%}
                        <option value="{{elm}}">{{elm}}</option>
                        {% endfor %}
                        </select>
                      </div>

                      <div>
                        <button type="submit" class="btn btn-primary">
                          Add
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
